# `{{ dashCase name }}``

Description here


## Installation

```shell
> yarn add @limbo-works/{{ dashCase name }}
```


## Usage

```vue
<script>
import {{ properCase name }} from '@limbo-works/{{ dashCase name }}';

export default {
    components: {
        {{ properCase name }},
    }
}
</script>

<template>
    <div>
        <{{ properCase name }} />
    </div>
</template>
```


## Props

| name                      | type                      | required | default                                |
| ------------------------- | ------------------------- | -------- | -------------------------------------- |
| `example1`                | `String`                  | `true`   |                                        |
| `example2`                | `Number`                  | `false`  |                                        |
